* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    padding: 100px;
    color: #ffffff;
    background: linear-gradient(180deg,
        rgba(20, 20, 20, 0.75),
        rgba(20, 20, 20, 0));
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}  

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

/* Workspace Index hover*/
#workspaces button:hover {
    background: rgba(255, 255, 255, 1);
}

#workspaces button.focused, #workspaces button.active {
    background: linear-gradient(180deg,
        rgba(132, 153, 132, 0.9),
        rgba(132, 153, 132, 0));    
   /* background-color: #828A95;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    font-family: monospace;
    /*background-color: #849984;*/
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(132, 153, 132, 0.8),
        rgba(132, 153, 132, 0));
    padding: 0px 10px 0px 10px;
    margin-left: 20px;
}

#mpris {
    min-width: 200px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(132, 153, 132, 0.8),
        rgba(132, 153, 132, 0));
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
}

#pulseaudio {
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(132, 153, 132, 0.8),
        rgba(132, 153, 132, 0));
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
}

#pulseaudio:hover {
    font-weight: bold;
}

#pulseaudio.muted {
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(52, 51, 48, 0.8),
        rgba(52, 51, 48, 0));
}

#clock {
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(232, 135, 30, 0.8),
        rgba(232, 135, 30, 0));
    padding: 0px 15px 0px 15px;
}

#network, #cpu, #memory, #battery, #temperature {
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(117, 72, 94, 0.8),
        rgba(117, 72, 94, 0));
    padding: 0px 15px 0px 15px;
    margin-right: 10px;
}

#battery.charging, #battery.plugged {
    background: linear-gradient(180deg,
        rgba(0, 145, 110, 0.8),
        rgba(0, 145, 110, 0));
}

@keyframes blink {
    to {
        background: transparent;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage*/
#battery.critical:not(.charging) {
    background: linear-gradient(180deg,
        rgba(217, 30, 54, 1),
        rgba(217, 30, 54, 0));
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    background: linear-gradient(180deg,
        rgba(217, 30, 54, 0.8),
        rgba(217, 30, 54, 0));
}

#custom-power {
    font-family: FontAwesome;
    font-size: 18px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg,
        rgba(31, 86, 115, 0.8),
        rgba(31, 86, 115, 0));
}
